@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Markazi+Text:wght@400;500&display=swap');

.specials-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.specials-h2 {
    font-family: 'Markazi Text', serif;
    font-size: 5rem;
    color: #333333;
}

.specials-button {
    background-color: #f4ce14;
    font-size: 16pt;
    font-weight:700;
    padding: 10px 45px;
    border-radius: 15px;
    border: none;
    transition: .2s ease-in;
}
.specials-button:hover {
    background-color: #333333;
    color: #f4ce14
}


.special-card-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 35px;
    margin: 2rem;
    
}

@media screen and (max-width: 800px) {
    .special-card-container {
        grid-template-columns: 47% 47%;
    }
}

@media screen and (max-width: 699px){
    .special-card-container  {
        display: flex;
        flex-direction: column;
    }
    
}

